<div id="content-container">
    <div id="content-header">
        <h1> Table of Results </h1>
    </div>
</div>
<div id="content-table-container">
    <mat-table [dataSource]="dataObservable" class="mat-elevation-z4">
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let data"> {{data.state}} </td>
        </ng-container>
        <ng-container matColumnDef="movie">
            <th mat-header-cell *matHeaderCellDef> Movie Title</th>
            <td mat-cell *matCellDef="let data"> {{data.movie}} </td>
        </ng-container>
        <ng-container matColumnDef="average">
            <th mat-header-cell *matHeaderCellDef> Average Sentiment </th>
            <td mat-cell *matCellDef="let data"> {{data.average}} </td>
        </ng-container>
        <ng-container matColumnDef="sentiment">
            <th mat-header-cell *matHeaderCellDef> Total Sentiment </th>
            <td mat-cell *matCellDef="let data"> {{data.sentiment}} </td>
        </ng-container>
        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Number of Tweets </th>
            <td mat-cell *matCellDef="let data"> {{data.count}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </mat-table>
</div>