    
    #content-container {
        display: flex;
        flex-direction: row;
        overflow-y: auto;
        margin: auto;
        top: 50px;
        position: absolute;
        padding-top: 20px;
        padding-left: 20px;
        background-color: cornflowerblue;
        width: 100%;
        color: white;
    }

    #content-table-container {
        padding-top: 200px;
        display: table;
        margin: auto;
    }

    mat-table {
        width: 100%;
    }

    th.mat-header-cell {
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
        padding: 8px;
    }

    td.mat-cell {
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
    }