<!-- Main HTML page for the ECE 4813 Team 10 final project.
This app is used to help the user display the most popular movies
based on where they live -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>ECE 4813 Final Project</title>
		<link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
		<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	</head>
	<body>
		<center>
			<h1>Most Popular Movie by State</h1>
			<table id="states_table">
				<tr>
					<th>State</th>
					<th>Movie</th>
					<th># Tweets</th>
				</tr>
				{% for state in states %}	
					<tr>
					<td>{{state.Name}}</td>
					<td>{{state.Movie}}</td>
					<td align="center">{{state.NumTweets}}</td>
					</tr>
				{% endfor %}

			</table>
			<br>
		</center>
		<script>
			setInterval(
			function()
   			{	
            		$.getJSON('/update', {}, function(states) {
				for(var i=0; i < 51; i++){
					var item = document.getElementById("states_table").rows[i+1].cells;
    					item[1].innerHTML = states[i]["Movie"]
					item[2].innerHTML = states[i]["NumTweets"]
				}
			});
              		}, 1000); 
		</script>
	</body>
</html>
