<!-- Main HTML page for the ECE 4813 Team 10 final project.
This app is used to help the user display the most popular movies
based on where they live -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>[Insert Title Here]</title>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" type="text/css" href="../style/style.css">
		<link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	</head>
	<body>
		<center>
			<div class = "card-panel light-blue darken-2">
			<h1 >[Insert Title Here]</h1>
		    </div>
		    <div id="map">
		    	<div id="googleMap" style="width:100%;height:400px;"></div>
		    	<script>
		    		function myMap() {
						var mapProp= {
						    center:new google.maps.LatLng(33.7490,-84.3880),
						    zoom:5,
						};
						var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
					}
		    	</script>
		    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSu4kM_ah0k-1XOHW8Ih5UPGCui_jhIJA&callback=myMap"></script>
		    </div>
		</center>
	</body>
</html>